<div class="container-fluid">
	<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
		<a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
			<svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
			<span class="fs-4">Gareth Gilson</span>
		</a>
		
		<ul class="nav nav-pills">
			{% for nav in collections.nav %}
				<li class="nav-item"><a href="{{ nav.url }}" class="nav-link {% if page.url == nav.url %}active{% endif %}">{{ nav.data.title }}</a></li>
			{% endfor %}
		</ul>
	</header>
</div>